*.tar.gz
*.tar.bz2
*.tgz
*~

www/meas_*
www/obs_*
www/pex_*
www/ctrl_*
www/coadd_*
www/ip_*
www/daf_*
www/afw
www/ap
www/base
www/cat
www/sdqa
www/skypix
www/geom
www/datarel
www/utils
www/ndarray

www/sconsUtils
www/lssteups
www/lsst
www/devenv_*
www/testing_*

build
pkgs
ref*
test
submitRelease
